ody {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.sidebar h2 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.sidebar img {
	width: 190px;
	height: 35px;
	padding-bottom: 4px;
}

.upper-border-sidebar {
	border-top: 3px solid #ffffff;
	width: 100%;
	padding-bottom: 60px;
}

.bottom-border-sidebar {
	border-top: 3px solid #ffffff;
	width: 100%;
	margin-top: 80%;
}

.sidebar {
	background-color: #ba926e;
	height: 100vh;
	width: 200px;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.sidebar a {
	display: block;
	color: rgb(255, 255, 255);
	padding: 16px;
	text-decoration: none;
	font-size: 23px;
	margin: 0px;
}

.sidebar a:hover {
	background-color: #ddd;
}

.icons .profile-button {
	position: absolute;
	left: 40px;
	margin-top: 20px;
	margin-left: 8px;
	width: 100px;
}

#login_txt {
	color: black;
}

#login_img {
	width: 50px;
	height: 10px;
}

#login_img img {
	width: 40px;

	margin-top: -10px;
}

.icons .cart-button {
	margin-top: 90px;
	margin-right: 85px;
	width: 100px;
	height: 50px;
}

.cart-button a {
	margin-left: -5px !important;
	margin-bottom: 2px !important;
	padding: 0px !important;
}

.cart-button img {
	width: 35px;
	margin-top: 6px;
	margin-left: 6px;
}

.cart-button {
	margin-left: 80px;
}

.cart-text {
	position: flex;
	left: 100px;
	bottom: 50px;
}

.cart-text:hover {
	background-color: #ba926e !important;
}

.main2 {
	margin-left: 200px;
	/* Same as the width of the sidebar */
	padding: 0px 10px 0px 10px;
}

.header {
	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
}

.content {
	padding: 20px;
	background-color: #fff;
	margin-top: 20px;
}

.main .background-container {
	position: relative;
	text-align: center;
}

#background-text {
	color: #947458;
	position: absolute;
	top: 15px;
	left: 50px;
	font-size: 60px;
	margin: 0px;
}

.user-name h2 {
	color: #634d3a;
	position: absolute;
	top: 620px;
	left: 60px;
	margin: 0px;
}

.background-container img {
	width: 100%;
	height: 670px;
}

#titles {
	font-size: 30px;
	background-color: #b88c5b;
	color: #ffffff;
	padding: 15px;
	font-weight: bold;
	text-align: center;
}

.products-container {
	min-height: 300px;

	display: inline;
	align-items: center;
	padding-top: 20px;
}

.product-button {
	min-width: 100%;
}

.product {
	background-color: #b4afab91;
	text-align: left;
	padding: 20px;
	display: flex;
	margin-bottom: 5px;
	border-radius: 5px;
}

.product img {
	width: 200px;
	height: 200px;
	padding-right: 40px;
}

.border {
	border: 1px solid #ffffff91;
	margin-left: 40px;
	margin-right: 40px;
}

.testimonial {
	background-color: #ffffff;
	text-align: center;
	padding: 20px;
	border-bottom: 1px solid #b88d5b91;
	border-radius: 20px;
	margin-bottom: 5px;
	background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #b88d5b21);
	/* display:flex;  */
}

.testimonials-container {
	padding-bottom: 30px;
}

.testimonial h5 {
	text-align: right;
	padding: 0px;
	margin: 0px;
}

.testimonial img {
	display: flex;
}

button {
	background-color: #ffffff;
	border: 2px solid #b88d5b91;
	border-radius: 5px;
	text-align: center;
	transition-duration: 0.4s;
}

button:hover {
	background-color: #b88d5b91;
}

#shop-more-button {
	background-color: #ffffff;
	border: 2px solid #b88d5b91;
	border-radius: 10px;
	text-align: center;
	font-size: 20px;
	width: 250px;
}

#shop-more-button:hover {
	background-color: #b88d5b91;
	color: white;
}

/* scroll bar styling */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
	background: #cfbf6e;
	border-radius: 10px;
}

.navbar {
	display: flex;
	list-style: none;
	text-decoration: none;
}

.navbar a {
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 40px;
	transition: all 0.5s ease;
	color: black;
}

.navbar a:hover {
	color: #ffffff;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}