 table {
    width: 100%;
    border-collapse: collapse;
  }
  body {
    align-items: center;
    justify-content: center;
    display: contents;
    margin:0px;
  }
  th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  } 
.contents{
  padding: 5px;
}

  .total-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }

  .counter {
    display: flex;
    align-items: center;
  }
  
  .minus-btn, .plus-btn {
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .quantity {
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin: 0 10px;
  }
  
  
  
  .checkout-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .checkout-btn:hover {
    background-color: wheat;
  }