body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.sidebar h2 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.sidebar img {
	width: 190px;
	height: 35px;
	padding-bottom: 4px;
}

.upper-border-sidebar {
	border-top: 3px solid #ffffff;
	width: 100%;
	padding-bottom: 60px;
}

.bottom-border-sidebar {
	border-top: 3px solid #ffffff;
	width: 100%;
	margin-top: 80%;
}

.sidebar {
	background-color: #ba926e;
	height: 100vh;
	width: 200px;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.sidebar a {
	display: block;
	color: rgb(255, 255, 255);
	padding: 16px;
	text-decoration: none;
	font-size: 23px;
	margin: 0px;
}

.sidebar a:hover {
	background-color: #ddd;
}

.icons {
	display: flex;
	padding: 15px;
}

.icons .profile {
	position: absolute;
	left: 90px;
	color: #ddd;
	margin: 0px;
}

.icons .cart {
	margin-top: 55px;
	position: absolute;
	left: 90px;
	color: #ddd;
}

.profile:hover,
.cart:hover {
	background-color: #ba926e !important;
}

.icons .profile-button {
	position: absolute;
	left: 40px;
	margin-top: 5px;
	margin-left: -8px;
}

.icons .cart-button {
	margin-top: 60px;
	margin-right: 85px;
}


button:hover {
	background-color: #b88d5b91;
	color: white;
}

.navbar button {
	background-color: #b88d5b91;
	border: 2px solid white;
	border-radius: 5px;
	text-align: center;
	transition-duration: 0.4s;
	color: #ffffff;
}

.navbar button:hover {
	background-color: white;
	color: rgb(0, 0, 0);
	border-color: #b88d5b91;
}

.profile-button img {
	width: 35px;
}

.cart-button img {
	width: 35px;
	margin-top: 6px;
	margin-left: 6px;
}

.contents-checkout {
	margin-left: 200px;
	/* Same as the width of the sidebar */
	/*padding: 0px 10px 0px 10px;*/
}

.checkout-form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .checkout-form h2 {
    margin-top: 0;
  }
  
  .checkout-form form {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .checkout-form .form-group {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .checkout-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  textarea {
    resize: vertical;
    min-height: 50px;
  }

  .checkout-form input,
  .checkout-form textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .checkout-form input[type="submit"] {
    display: block;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    width: 20%;
    background-color: #333;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .checkout-form input[type="submit"]:hover {
    background-color: wheat;
  }

  /* scroll bar styling */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #d1e5ff;
  }

  ::-webkit-scrollbar-thumb {
    background: #3c503f;
    border-radius: 10px;
  }