.checkout-form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .checkout-form h2 {
    margin-top: 0;
  }
  
  .checkout-form form {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .checkout-form .form-group {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .checkout-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  textarea {
    resize: vertical;
    min-height: 50px;
  }

  .checkout-form input,
  .checkout-form textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .checkout-form input[type="submit"] {
    display: block;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    width: 20%;
    background-color: #333;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .checkout-form input[type="submit"]:hover {
    background-color: wheat;
  }

  /* scroll bar styling */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #d1e5ff;
  }

  ::-webkit-scrollbar-thumb {
    background: #3c503f;
    border-radius: 10px;
  }