body {
	overflow: hidden;
	width: 100%;
}

.footer-top{
	background-color: #5555559d;
}

.section{
 align-content: left;
}

.social {
	list-style: none;
	text-align: left;
	padding: 20px;
}

.social li {
	margin: 10px 0;
}

.logo {
	align-items: right;
	width: 50px;
	height: 60px;
	margin: 0 auto;
	display: block;
}

.about {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

.about li {
	font-size: 14px;
	margin: 0 15px;
}

.footer-menu {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: right;
}

.footer-menu li {
	font-size: 14px;
	margin: 0 10px;
}

.copyright {
	background-color: black;
	color: white;
}

.icon-facebook,
.icon-twitter,
.icon-instagram,
.icon-youtube {
	font-size: 20px;
	color: #333;
	transition: all 0.3s ease-in-out;
}

.icon-facebook:hover,
.icon-twitter:hover,
.icon-instagram:hover,
.icon-youtube:hover {
	color: #000;
}