body {
    align-items: center;
    justify-content: center;
    display: contents;
    font-family: Arial, sans-serif;
}

.sidebar h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar img {
    width: 190px;
    height: 35px;
    padding-bottom: 4px;
}

.upper-border-sidebar {
    border-top: 3px solid #ffffff;
    width: 100%;
    padding-bottom: 60px;
}

.bottom-border-sidebar {
    border-top: 3px solid #ffffff;
    width: 100%;
    margin-top: 80%;
}


.sidebar {
    background-color: #BA926E;
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}


.sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
    font-size: 23px;
    margin: 0px;

}

.sidebar a:hover {
    background-color: #ddd;
}





.icons .profile-button {
    position: absolute;
    left: 40px;
    margin-top: 20px;
    margin-left: 8px;
    width: 100px;

}

#login_txt {
    color: black;

}

#login_img {
    width: 50px;
    height: 10px;

}

#login_img img {
    width: 40px;

    margin-top: -10px;
}

.icons .cart-button {
    margin-top: 90px;
    margin-right: 85px;
    width: 100px;
    height: 50px;
}

.cart-button a {
    margin-left: -5px !important;
    margin-bottom: 2px !important;
    padding: 0px !important;
}

.cart-button img {
    width: 35px;
    margin-top: 6px;
    margin-left: 6px;
}

.cart-button {
    margin-left: 80px;

}

.cart-text {
    position: flex;
    left: 100px;
    bottom: 50px;
}

.cart-text:hover {
    background-color: #ba926e !important;
}


button {
    background-color: #ffffff;
    border: 2px solid #b88d5b91;
    border-radius: 5px;
    text-align: center;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #b88d5b91;

}




#homeIntro {
    font-size: 30px;
    background-color: #88bc52;
    color: #ffffff;
    padding: 25px;
    font-weight: bold;
    text-align: center;
}

.background-container {
    position: relative;
    text-align: center;
    color: white;
}

img {
    width: 100%;
    height: 550px;
    padding-top: 3px;
}

.center-text {
    position: absolute;
    top: 8px;
    left: 110px;
    color: black;
}

#titles {
    font-size: 30px;
    background-color: #88bc52;
    color: #ffffff;
    padding: 25px;
    font-weight: bold;
    text-align: center;
}

#background-text {
    font-size: 62px;
    color: #454545;
    padding: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    text-align: left;
}

.user-name h2 {
    color: #4f6647;
    padding-bottom: 20px;
    padding-left: 5px;
    margin-top: 0px;
    text-align: left;

}

.tab-dashboard {
    position: absolute;
    width: 50%;
    align-items: center;
    background-color: #afacac;
    margin-left: 25%;
    border-radius: 10px;
    text-align: center;
    color: #000000;
    font-size: 20px;
    margin-top: 3px;


}

.tab {
    text-align: center;
    align-items: center;
}

.accountChange {

    position: absolute;
    margin-top: 100px;
    padding-left: 20px;
    margin-left: 25%;
    border-radius: 10px;
    background-color: #ba926e;
}

.accountChange legend {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.accountChange label input {
    padding-top: 100px;
}

.first-name input,
.last-name input,
.display-email input,
.col-md-12 input {
    border-radius: 5px;

}

.first-name label,
.last-name label,
.display-email label,
.col-md-12 label {
    font-size: 20px;


}

.passwordChange {
    position: absolute;

    padding-left: 20px;
    border-radius: 10px;
    margin-top: 250px;
    margin-left: 25%;
    background-color: #ba926e;
}

.passwordChange legend {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;

}

.button-save {

    position: absolute;
    margin-top: 7px;
    margin-left: 45%;
}


.button-save button {
    font-size: 15px;
}

.message {
    padding-top: 420px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.error {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.logout {
    position: absolute;
    margin-left: 90%;
    border-radius: 10px;
    margin-top: 7px;

}


.tab {
    margin-top: 85px;
    margin-left: 60px;
}