.body-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.col-left {
  width: 50%;
  text-align: left;
  padding: 30px;
  box-sizing: border-box;
}

.col-right {
  width: 50%;
  text-align: right;
  padding: 30px;
  box-sizing: border-box;
}

.col-center {
  width: 50%;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}

.col-multi{
  width: 100%;
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content:center;
}

.social {
  list-style: none;
  text-align: left;
  padding: 20px;
}

.social li {
  margin: 10px 0;
}

.logo {
  align-items: right;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.about {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.about li {
  font-size: 14px;
  margin: 0 15px;
}

.footer-menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: right;
}

.footer-menu li {
  font-size: 14px;
  margin: 0 10px;
}

.copyright{
  background-color: black;
  color: white;
}

.icon-facebook,
.icon-twitter,
.icon-instagram,
.icon-youtube {
  font-size: 20px;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.icon-facebook:hover,
.icon-twitter:hover,
.icon-instagram:hover,
.icon-youtube:hover {
  color: #000;
}

.personal-details-form {
  width: 500px;
  margin: 0 auto;
}

.personal-details-form input[type="text"],
.personal-details-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.personal-details-form input[type="checkbox"]{
  float: left;
  margin-right: 15px;
}

.personal-details-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.personal-details-form button[type="submit"]:hover {
  background-color: wheat;
}

.checkbox-text {
  font-size: 14px;
  margin-bottom: 20px;
  display: block;
  text-align: left;
}

a:link { 
  color: white;
  text-decoration: none; }
a:visited { 
  color: white;
  text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }